{% extends 'base.html' %}
{% load static %}

{% block title %} | About {% endblock %}


{% block content %}
<section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">About Ortho App</h1>
              <p class="lead">A product aimed at improving the experience of patients undergoing a knee or a hip surgery
              </p>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active"> About</li>
            </ol>
          </nav>
        </div>
      </section>
    
      <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h2>Your recovery, now under your control</h2>
              <p class="lead">What is orthoapp all about ?</p>
              <img src="{% static 'img/about.jpg' %}" alt="">
              <p class="mt-4">This tool is designed to enable you to understand and manage your health
                  before and after a hip or knee arthoplastly. The data you submit through orthoapp will
                  provide a record of your preparation for and recovery from the surgery, which will be
                  immensely useful for you, your surgeon and physiotherapists.
              </p>
            </div>
            <div class="col-md-4">
              {% if lead_contacts %}
                {% for team_member in lead_contacts %}
                  <div class="card">
                      <img class="card-img-top" src="{{ team_member.photo.url }}" alt="Lead Contact">
                      <div class="card-body">
                        <h5 class="card-title">Lead Contact</h5>
                        <h6 class="text-secondary">{{ team_member.name }}</h6>
                        <p class="card-text"> {{ team_member.description }} </p>
                      </div>
                  </div>
                {% endfor %}

              {% endif %}

              
            </div>
          </div>
        </div>
      </section>
    
      <!-- Work -->
      <section id="work" class="bg-dark text-white text-center">
        <h2 class="display-4">We Work For You</h2>
        <h4>Empowering the patient to communicate and promoting healthy outcomes </h4>
        <hr>
        <a href="listings.html" class="btn btn-secondary text-white btn-lg">View the featured information</a>
      </section>
    
      <!-- Team -->
      <section id="team" class="py-5">
        <div class="container">
          <h2 class="text-center">Our Team</h2>
          <div class="row text-center">

              {% if team_members %}
                {%for team_member in team_members %}
                  <div class="col-md-4">
                      <img src="{{ team_member.photo.url }}" alt="" class="rounded-circle mb-3">
                      <h4>{{team_member.name}}</h4>
                      <p class="text-success">
                        <i class="fas fa-award text-success mb-3"></i>Developer</p>
                      <hr>
                      <p>
                        <i class="fas fa-phone"></i> {{team_member.phone}} </p>
                      <p>
                        <i class="fas fa-envelope-open"></i> {{team_member.email}}</p>
                    </div>
                {% endfor %}
              {%else%}
              <div class="col-md-12">
                  <p>No team members info available</p>
                </div>
              {%endif%}

          </div>
        </div>
      </section>

{% endblock %}