{% extends 'base.html' %}
{% load static %}

{% block title %} | About {% endblock %}


{% block content %}
<section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">About Ortho App</h1>
              <p class="lead">A product aimed at improving the experience of patients undergoing a knee or a hip surgery
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active"> About</li>
            </ol>
          </nav>
        </div>
      </section>

      <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h2>Your recovery, now under your control</h2>
              <p class="lead">What is orthoapp all about ?</p>
              <img src="{% static 'img/about.jpg' %}" alt="">
              <p class="mt-4">This tool is designed to enable you to understand and manage your health
                  before and after a hip or knee arthoplastly. The data you submit through orthoapp will
                  provide a record of your preparation for and recovery from the surgery, which will be
                  immensely useful for you, your surgeon and physiotherapists.
              </p>

              <!-- <h4 class="bold">Acknowledgements</h4>
              <p>OrthoApp was developed as a collaboration between the:<br>
                1. Department of Health Services Research and Policy, Research School of Population Health, College of Health and
                Medicine (CHM), Australian National University (ANU),<br>
                2. TechLauncher Programme, College of Engineering and Computer Studies, ANU<br>
                3. Orthopaedics ACT<br>
                4. Canberra Hip and Knee Replacement<br>
                5. ANU Medical School, CHM, ANU<br>
                6. Academic Unit of General Practice, ACT Health<br>
                7. Health Care Consumer Association, ACT.<br>
              </p>

              <p>
                We are very grateful to the patients who worked closely with us in co-designing this tool, including Dr Marian Currie, Mr Pritam Singh, Ms Helen Rimanic and Ms Marylou Minty.
              </p>

              <p>
                We would also like to acknowledge the contributions of Ms Corinne Coulter, physiotherapist, and Dr David Reiner, anaesthetist.
              </p>

              <p>
                The written information in OrthoApp was adapted in agreement with Orthopaedics ACT and contributors from the Joint
                Replacement Information Session Handout, developed by Orthopaedics ACT. Contributions from Elaine Sainsbury,
                Mary Jane Moran, Elizabeth Tuohy and Christine Winchester are acknowledged and appreciated.
              </p>

              <br>

              <h4 class="bold">Disclaimer</h4>
              <p>This is an educational resource only and should be used in conjunction with the advice and any additional information
                (e.g reading material, website) provided by your surgeon or a licensed healthcare provider.</p>

              <br> -->



            </div>
            <div class="col-md-4">
              {% if lead_contacts %}
                {% for team_member in lead_contacts %}
                  <div class="card">
                      <img class="card-img-top" src="{{ team_member.photo.url }}" alt="Lead Contact">
                      <div class="card-body">
                        <h5 class="card-title">Lead Contact</h5>
                        <h6 class="text-secondary">{{ team_member.name }}</h6>
                        <p class="card-text"> {{ team_member.description }} </p>
                      </div>
                  </div>
                {% endfor %}

              {% endif %}


            </div>
          </div>
        </div>
      </section>

      <!-- Work -->
      <section id="work" class="bg-dark text-white text-center">
        <h2 class="display-4">We Work For You</h2>
        <h4>Empowering the patient to communicate and promoting healthy outcomes </h4>
        <hr>
        <a href="listings.html" class="btn btn-secondary text-white btn-lg">View the featured information</a>
      </section>

      <!-- Team -->
      <section id="team" class="py-5">
        <div class="container">
          <h2 class="text-center">Our Team</h2>
          <div class="row text-center">

              {% if team_members %}
                {%for team_member in team_members %}
                  <div class="col-md-4">
                      <img src="{{ team_member.photo.url }}" alt="" class="rounded-circle mb-3">
                      <h4>{{team_member.name}}</h4>
                      <p class="text-success">
                        <i class="fas fa-award text-success mb-3"></i>Developer</p>
                      <hr>
                      <p>
                        <i class="fas fa-phone"></i> {{team_member.phone}} </p>
                      <p>
                        <i class="fas fa-envelope-open"></i> {{team_member.email}}</p>
                    </div>
                {% endfor %}
              {%else%}
              <div class="col-md-12">
                  <p>No team members info available</p>
                </div>
              {%endif%}

          </div>
        </div>
      </section>

{% endblock %}
