{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}" class="logo" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
              <li

              {% if '/' == request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'index' %}">Home</a>
              </li>

              <li
              {% if 'about' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li
              {% if 'information_pages' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'information_pages' %}">Information</a>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto">
              <!-- <li class="nav-item mr-3">
                <a class="nav-link" href="register.html">
                  <i class="fas fa-user-plus"></i> Register</a>
              </li> -->
              {% if user.is_authenticated %}

                <li
                {% if 'patient' or 'surgeon' or 'practice' in request.path %}
                  class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
                {% endif %}
                >

                <a

                {% if user.is_practice %}
                  class="nav-link" href="{% url 'practice' %}"
                {% elif user.is_patient %}
                  class="nav-link" href="{% url 'patient' %}"
                {% elif user.is_surgeon %}
                  class="nav-link" href="{% url 'surgeon' %}"
                {% endif %}
                >
                    Welcome <strong>{{ user.username }}</strong> (Dashboard)

                </a>

                </li>

                <li class="nav-item mr-3">
                  <a href="javascript:{document.getElementById('user_logout').submit()}" class="nav-link">
                    <i class="fas fa-sign-out-alt">Logout</i>
                  </a>
                  <form action="{% url 'user_logout' %}" method="POST" id="user_logout">
                    {% csrf_token %}
                    <input type="hidden">
                  </form>

                </li>

              {% else %}
                <li class="nav-item mr-3">
                  <a class="nav-link" href="{% url 'user_login' %}">
                    <i class="fas fa-sign-in-alt"></i>Login</a>
                </li>
             {% endif %}
          </ul>
        </div>
     </div>
</nav>
