<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Before Your Surgery</title>
    <link rel="stylesheet" href="{% static "css/myStyle.css" %}"/>
  </head>
  <body>
    <h1>Before Your Surgery</h1>

    {% if welcome_to_ortho_page %}
      {% for txt in welcome_to_ortho_page %}

        <h4>Introduction</h4>
        <p> {% load md2 %}{{txt.introduction | markdown}}</p>

        <h4>Acknowledgements</h4>
        <p> {% load md2 %}{{txt.acknowledgements | markdown}}</p>

        <h4>Disclaimer</h4>
        <p>{{txt.disclaimer}}</p>

        <h4>Copyright</h4>
        <p>{{txt.copyright}}</p>

      {% endfor%}
    {% else %}

      <p>"NO RECORDS"</p>

    {% endif %}
  </body>
</html>
