<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Before Your Surgery</title>
    <link rel="stylesheet" href="{% static "css/before_your_surgery.css" %}"/>
  </head>
  <body>
    <h1>Before Your Surgery</h1>

    {% if before_your_surgery_page %}
      {% for txt in before_your_surgery_page %}

        <h4>Pre Admission Process</h4>
        <div class="popup" id="1" onclick="myFunction(this.id)">Here's a Tip
          <span class="popuptext" id="myPopup">
            <p>• <strong>Patient Checklist:</strong> <em>Be prepared for your surgery using the Checklist</em></p>
            <p>• <strong>Chest X-ray (CXR):</strong> <em>Make sure that you have your CXR on the surgery day</em> </p>
          </span>
        </div>
        <p> {% load md2 %}{{txt.pre_admission_process | markdown}}</p>

        <h4>Medical Tests</h4>
        <p> {% load md2 %}{{txt.medical_tests | markdown}}</p>

        <h4>Preparing</h4>
        <div class="popup" id = "2" onclick="myFunction(this.id)">Here's a Tip
          <span class="popuptext" id="myPopup2">
            <p>• <strong>The Independent Living Centre:</strong> located at Weston, has a wide variety of equipment
            on display and is an excellent source of information. They can be contacted on <strong>6205 1900</strong> to arrange an appointment
            if you would like personal advice about products and resources which can be used in your home.</p>
            <p>• Places like <strong>“ACT Foam”</strong> and <strong>“Clark Rubber”</strong> can be
            contacted if foam wedges are needed for cars and other places.</p>
            <p>• Ensure that you have someone with you</p>
          </span>
        </div>
        <p> {% load md2 %}{{txt.preparing | markdown}}</p>

        <h4>Arranging Support</h4>
        <p> {% load md2 %}{{txt.arranging_support | markdown}}</p>

        <h4>Minimising Risk of Cancellation</h4>
        <p> {% load md2 %}{{txt.minimising_risk_of_cancellation | markdown}}</p>

        <h4>Hospital Admission</h4>
        <p> {% load md2 %}{{txt.hospital_admission | markdown}}</p>

        <h1>Good Luck For Your Surgery!</h1>



      {% endfor%}
    {% else %}

      <p>"NO RECORDS"</p>

    {% endif %}


    <script>
    // When the user clicks on div, open the popup
    function myFunction(clicked_id) {
      var popup;
        if (clicked_id == "1") {
          popup = document.getElementById("myPopup");
        }
        else if (clicked_id == "2") {
          popup = document.getElementById("myPopup2");
        }
        else if (clicked_id == "3") {
          popup = document.getElementById("myPopup3");
        }
        else if (clicked_id == "4"){
          popup = document.getElementById("myPopup4");
        }
        else if (clicked_id == "5"){
          popup = document.getElementById("myPopup5");
        }
        else if (clicked_id == "6"){
          popup = document.getElementById("myPopup6");
        }

        else if (clicked_id == "7"){
          popup = document.getElementById("myPopup7");
        }

        popup.classList.toggle("show");
    }
    </script>

  </body>
</html>
