<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static "css/myStyle.css" %}"/>
  </head>
  <body>
    <h1>Welcome To Ortho App</h1>
    {% if introduction %}
      {% for intro in introduction %}
        <h4>Introduction</h4>
        <p> {% load md2 %}{{intro.introduction | markdown}}</p>
        <h4>Acknowledgements</h4>
        <p> {% load md2 %}{{intro.acknowledgements | markdown}}</p>
        <h4>Disclaimer</h4>
        <p>{{intro.disclaimer}}</p>
        <h4>Copyright</h4>
        <p>{{intro.copyright}}</p>
      {% endfor%}
    {% else %}
      <p>"NO RECORDS"</p>
    {% endif %}
  </body>
</html>
