{% extends "base.html" %}

{% block title %} | Patient-Dashboard {% endblock %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Patient Profile</h1>
        <p class="lead">View all your details</p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">
            <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Dashboard</li>
          <li class=" ml-auto">
            <a href="{% url 'user_settings' %}">
              <!-- <i class="fas fa-user-cog"></i> -->
              <i class="fas fa-cog"></i>
            </a>
          </li>
          
        </ol>
        
      </nav>
    </div>
  </section>
  
  <br>
  
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}
  
  
  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h2>Welcome {{user.username}}</h2>
          </div>
          
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Personal Details</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in patient_dict.items %}
              <tr>
                <td>
                  <p>{{key}}</p>
                </td>
                <td>
                  <p>{{value}}</p>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          
          
        </div>
      </div>
    </div>
  </section>
  
  {% endblock %}
