{% extends 'base.html' %}
{% load md2 %}
{% block content %}

<!-- {% block title %} | {{ information_page.title }} {% endblock %} -->


<section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">{{ information_page.title }}</h1>
              <p class="lead">
                <i class="fas fa-map-marker"></i> {{ information_page.description }}</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'information_pages' %}">Information Hub</a>
              </li>
              <li class="breadcrumb-item active">{{ information_page.title  }}</li>
            </ol>
          </nav>
        </div>
      </section>

      <!-- Listing -->
      <section id="listing" class="py-4">
        <div class="container">
          <a href="{% url 'information_pages' %}" class="btn btn-light mb-4">Back To Information Hub</a>
          <div class="row">
            <div class="col-md-9">
              <!-- Home Main Image -->
              <img src="{{ information_page.photo_main.url  }}" alt="" class="img-main img-fluid mb-3">
              <!-- Thumbnails -->
              <div class="row mb-5 thumbs">

                {% if information_page.photo_1 %}

                <div class="col-md-2">
                  <a href="{{ information_page.photo_1.url  }}" data-lightbox="home-images">
                    <img src="{{ information_page.photo_1.url  }}" alt="" class="img-fluid">
                  </a>
                </div>

                {% endif %}

                {% if information_page.photo_2 %}

                <div class="col-md-2">
                  <a href="{{ information_page.photo_2.url  }}" data-lightbox="home-images">
                    <img src="{{ information_page.photo_2.url  }}" alt="" class="img-fluid">
                  </a>
                </div>

                {% endif %}

                {% if information_page.photo_3 %}

                <div class="col-md-2">
                  <a href="{{ information_page.photo_3.url  }}" data-lightbox="home-images">
                    <img src="{{ information_page.photo_3.url  }}" alt="" class="img-fluid">
                  </a>
                </div>

                {% endif %}

                {% if information_page.photo_4 %}

                <div class="col-md-2">
                  <a href="{{ information_page.photo_4.url  }}" data-lightbox="home-images">
                    <img src="{{ information_page.photo_4.url  }}" alt="" class="img-fluid">
                  </a>
                </div>

                {% endif %}
              </div>
              <!-- Fields -->
              <div class="row mb-5 fields">
                <div class="col-md-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-secondary">
                      <i class="fas fa-square"></i> Surgery Stage:
                      <span class="float-right">{{ information_page.surgery_stage  }}</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-secondary">
                      <i class="fas fa-square"></i> Hospital:
                      <span class="float-right">{{ information_page.hospital_name  }}</span>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Description -->
              <div class="row mb-5">
                <div class="col-md-12">
                 {{ information_page.main_text | markdown }}
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mb-3">
                <img class="card-img-top" src="{{ information_page.developer.photo.url }}" alt="Page Contact">
                <div class="card-body">
                  <h5 class="card-title">Page Contact</h5>
                  <h6 class="text-secondary">{{ information_page.developer }}</h6>
                </div>
              </div>
              <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Report an Issue </button>
            </div>
          </div>
        </div>
      </section>

      <!-- Inquiry Modal -->
      <div class="modal fade" id="inquiryModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="inquiryModalLabel">Report an Issue about this Page</h5>
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                {% if user.is_authenticated %}
                  <input type="hidden" name="user_id" value="{{ user.id }}">
                {% else %}
                  <input type="hidden" name="user_id" value="0">
                {% endif %}
                <input type="hidden" name="developer_email" value="{{ information_page.developer.email }}">
                <input type="hidden" name="info_page_id" value="{{ information_page.id }}">
                <div class="form-group">
                  <label for="property_name" class="col-form-label">Information Page:</label>
                  <input type="text" name="info_page" class="form-control" value="{{ information_page.title }}">
                </div>
                <div class="form-group">
                  <label for="name" class="col-form-label">Name:</label>
                  <input type="text" name="name" class="form-control" {% if user.is_authenticated %}
                  value="{{user.first_name}} {{user.last_name}}" {% endif %} required>
                </div>
                <div class="form-group">
                  <label for="email" class="col-form-label">Email:</label>
                  <input type="email" name="email" class="form-control" {% if user.is_authenticated %}
                  value="{{user.email}}" {% endif %}required>
                </div>
                <div class="form-group">
                  <label for="phone" class="col-form-label">Phone:</label>
                  <input type="text" name="phone" class="form-control">
                </div>
                <div class="form-group">
                  <label for="message" class="col-form-label">Message:</label>
                  <textarea name="message" class="form-control"></textarea>
                </div>
                <hr>
                <input type="submit" value="Send" class="btn btn-block btn-secondary">
              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
