{% extends "base.html" %}
{% load static %}

<script>
{% block jquery %}

var endpoint = '/functionality/record/data'
// This list will hold all the data points to be displayed on the y-axis
var defaultData = [];
// This list will hold all the data points to be displayed on the x-axis
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
    type: 'bar', // This creates a bar chart
    data: {
        labels: labels, // These are the values on the x-axis
        datasets: [{
            label: '# of Steps', // This is the name of the y-axis
            data: defaultData,   // This is the data to be displayed on the bar chart
            backgroundColor: [],
            borderColor: [],
            borderWidth: 2
        }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
}


{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        <h1>Step Counter Record</h1>
        <div class='col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>


{% endblock %}
