{% extends "base.html" %}
{% load static %}
{% load chartit %}

{% block title %} | Records {% endblock %}


{% block content %}

{% if stepcounter_chart and kneemotionrange_chart and painlevel_chart %}
{{ chart_list|load_charts:"chart1,chart2,chart3" }}
<div id='chart1'></div>
<div id='chart2'></div>
<div id='chart3'></div>

{% elif stepcounter_chart and kneemotionrange_chart and not painlevel_chart %}
  {{ chart_list|load_charts:"chart1, chart2" }}
  <div id='chart1'></div>
  <div id='chart2'></div>

{% elif stepcounter_chart and not kneemotionrange_chart and painlevel_chart %}
  {{ chart_list|load_charts:"chart1, chart2" }}

  <div id='chart1'></div>
  <div id='chart2'></div>

{% elif  not stepcounter_chart and kneemotionrange_chart and painlevel_chart %}
  {{ chart_list|load_charts:"chart1, chart2" }}

  <div id='chart1'></div>
  <div id='chart2'></div>


{% elif stepcounter_chart or kneemotionrange_chart or painlevel_chart %}
  {{ chart_list|load_charts:"chart1" }}
  <div id='chart1'></div>

{% else %}
  <p align='center'> There is no data input yet</p>
{% endif %}


<div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Historic World Population by Region'
        },
        xAxis: {
            categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania']
        },
        series: [{
            name: 'Year 1800',
            data: [107, 31, 635, 203, 2]
        }, {
            name: 'Year 1900',
            data: [133, 156, 947, 408, 6]
        }, {
            name: 'Year 2012',
            data: [1052, 954, 4250, 740, 38]
        }]
    });
  </script>

{% endblock %}
