{% extends "base.html" %}
{% load static %}
{% load chartit %}

{% block title %} | Records {% endblock %}


{% block content %}

<div class="container">
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

    
<div>
    {% if user.is_patient %}
      <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {% if operation_list %}
        <div class="mb-3">
          <label class="sr-only">Operations </label>
          <select name="selected_operation" class="form-control selectpicker show-tick" data-live-search="true">
            <option selected="true" disabled="disabled">Select Operation</option>
            {% for operation in operation_list %}
                <option> {{operation}} </option>
            {% endfor %}
          </select>
        </div>
        {% endif %}
        <input type="submit" name="" id="" class="btn btn-light btn-block" value="Filter Operation">
      </form>
    {% elif user.is_surgeon %}
      <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {% if operation_list %}
        <div class="mb-3">
          <label class="sr-only">Operations </label>
          <select name="selected_operation" class="form-control selectpicker show-tick" data-live-search="true">
            <option selected="true" disabled="disabled">Select Operation</option>
            {% for operation in operation_list %}
                <option> {{operation}} </option>
            {% endfor %}
          </select>
        </div>
        {% endif %}
        <input type="hidden" name="patient_user" id="patient_user" value={{selected_patient_username}} class="form-control">
        <input type="hidden" name="switch" id="switch" value={{switch}} class="form-control">
        <input type="submit" name="" id="" class="btn btn-light btn-block" value="Filter Operation">
      </form>
    {% endif %}

    
</div>

    <div id="container">
  
      </div>
      
      <div id="container2">
        
      </div>
      
      <div id="container3">  
        
      </div>

</div>





<script>
  
  Highcharts.setOptions({   
    colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066',
    '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
    chart: {
      backgroundColor: null,
      style: {
        fontFamily: 'Dosis, sans-serif'
      }
    },
    title: {
      style: {
        fontSize: '16px',
        fontWeight: 'bold',
        textTransform: 'uppercase'
      }
    },
    tooltip: {
      borderWidth: 0,
      backgroundColor: 'rgba(219,219,216,0.8)',
      shadow: false
    },
    legend: {
      itemStyle: {
        fontWeight: 'bold',
        fontSize: '13px'
      }
    },
    xAxis: {
      gridLineWidth: 1,
      labels: {
        style: {
          fontSize: '12px'
        }
      }
    },
    yAxis: {
      minorTickInterval: 'auto',
      title: {
        style: {
          textTransform: 'uppercase'
        }
      },
      labels: {
        style: {
          fontSize: '12px'
        }
      }
    },
    plotOptions: {
      candlestick: {
        lineColor: '#404048'
      }
    },
    
    
    // General
    background2: '#F0F0EA'
    
  });
  
  Highcharts.chart('container', {{ chart|safe }});
</script>

<script>
  Highcharts.chart('container2', {{ chart2|safe }});
</script>

<script>
  Highcharts.chart('container3', {{ chart3|safe }});
</script>


{% endblock %}
